page-stats {
  .displayTable {
    display:table;
    width: 100%;
    height: 100%;
  }
  .cellTable {
    display: table-cell;
    vertical-align: middle;
  }
  .amount {
      font-size: 2rem;
      font-weight: 300;
  }
  .total {
    font-weight: 600;
  }
}
