<!--
  Generated template for the Stats page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >
  <ion-navbar color="primary">
    <ion-title>
      Statistiques {{monthName[month]}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="displayTable">
    <div class="cellTable">
      <div text-center >
        <p color="gray-darken">période du <br />01/{{month+1}}/{{year}} au {{daysInMonth(month+1)}}/{{month+1}}/{{year}}</p>
      </div>

      <div *ngIf="depRevByCat">
        <ion-list inset>
          <ion-item>
            <span class="amount total">Dépences</span>
          </ion-item>
          <ion-item *ngFor="let cat of keys('depense')">
          {{ cat }}
          <span item-right>CHF {{depRevByCat.depense[cat]}}</span>
          </ion-item>
          <ion-item>
            <span class=" total">Total</span>
            <span class=" total" item-right>CHF <nbrInc [inputData]="debitTotal"></nbrInc></span>
          </ion-item>
        </ion-list>
        <hr/>
        <ion-list inset>
          <ion-item>
            <span class="amount total">Revenu</span>
          </ion-item>
          <ion-item  *ngFor="let cat of keys('revenu')">
            {{ cat }}
            <span item-right>CHF {{depRevByCat.revenu[cat]}}</span>
          </ion-item>
          <ion-item>
            <span class=" total">Total</span>
            <span class=" total" item-right>CHF <nbrInc [inputData]="creditTotal"></nbrInc></span>
          </ion-item>
        </ion-list>
        <hr/>
        <ion-list inset>
          <ion-item>
            <span class="amount total">Solde du mois</span>
          </ion-item>
          <ion-item>
            <span class=" total">Total</span>
            <span class=" total" item-right>CHF <nbrInc [inputData]="solde"></nbrInc></span>
          </ion-item>
        </ion-list>

      </div>

      <div padding text-center>
        <ion-badge (click)="downMont()" item-right *ngIf="month > 0">< {{monthName[month - 1]}} </ion-badge>
        <ion-badge (click)="upMont()" item-right *ngIf="month < nowMonth">{{monthName[month+1]}} ></ion-badge>
      </div>

    </div>
  </div>

</ion-content>
