page-add {
  .displayTable {
    display:table;
    width: 100%;
    height: 100%;
  }
  .cellTable {
    display: table-cell;
    vertical-align: middle;
  }
  .divInput {
    max-width: 170px;
    margin: auto;

    div>div {
      font-size: 2.5rem;
    }
  }
  ion-select {
    max-width: 65%;
  }
  .select-text {
    max-width: 100px;
  }
  .text-input-md, .select-md, .datetime-md {
    color: color($colors, primary);
  }
}
